body{
    background-color: aliceblue;
}

.header{
    width: 100%;
}

.header a.loc{
    color: gold;
    font-size: 40px;
    text-decoration: none;
}

.header a.loc:hover{
    font-size: 42px;
    background-color: aquamarine;
}

.header p.title{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: blue;
    text-align: center;
}

.header p.phone{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: gold;
    text-align: center;
}

.home-images img{
    border: cadetblue solid 5px;
    border-radius: 5px;
    height: 300px;
}

a.mybtn{
    background-color: #ff0000;
    color: #ffee00;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}