body{
    background-color: darkgray;
}

.header{
    width: 100%;
}

.header a.loc{
    color: gold;
    font-size: 30px;
    text-decoration: none;
}

.header a.loc:hover{
    font-size: 35px;
    background-color: aquamarine;
    padding: 2px;
    border-radius: 2px;
}

.header #title{
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: blue;
    text-align: center;
}

.header #phone{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: gold;
}

.home-images img{
    /* padding: 6px;
    background: #ff0000; */
    /* border: cadetblue solid 5px; */
    /* border-radius: 5px; */
    width: 100%;
}

a.mybtn{
    background-color: #ff0000;
    color: #ffee00;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.footer{
    background-color: bisque;
    width: 100%;
    position: fixed;
}

.footer a.contacts{
    color: gold;
    font-size: 20px;
    text-decoration: none;
}

.footer a.contacts:hover{
    font-size: 22px;
    background-color: chocolate;
    padding: 2px;
    border-radius: 2px;
}