body{
    background-color: antiquewhite;
}

#header{
    height: 60px;
    font-size: 25px;
}

.side{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.side a:hover{
    background-color: rgb(165, 42, 42, 1);
    padding: 0 8px;
    border-radius: 2px;
}

.side a.loc{
    float: left;
    width: 25%;
    text-decoration: none;
}

.side a.phone{
    float: right;
    width: 25%;
}

h1{
    color: gold;
    font-family: 'Segoe UI', sans-serif;
    font-style: italic;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px 2px black;
}

#menu{
    background-color: rgb(95, 158, 160, .5);
    line-height: 35px;
    font-size: 20px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-align: center;
}

a.btnMenu{
    color: goldenrod;
    background-color: antiquewhite;
    text-decoration: none;
    margin: 10px;
    padding: 4px 8px;
    border-radius: 2px;
}

a.btnMenu:hover{
    background-color: rgb(250, 235, 215, .5);
    padding: 5px 9px;
    border-radius: 2px;
    font-size: 22px;
}


#footer{
    background-color: rgb(165, 42, 42, 0.5);
    height: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.side a#contacts{
    color: darkgreen;
    text-decoration: none;
}

.side a#home{
    color: darkgreen;
    text-decoration: none;
}